body{
    background-color: rgb(13, 13, 14) !important;
}
nav{
    clear: both;
    text-align: center;
    padding: 5px 0;
    display: flex;
}
nav ul{
    color: rgb(245, 238, 238);
    background-color: rgb(217, 231, 22);
    list-style: none;
    margin: 10px;
    padding: 0px;
    display: flex;
    width: 1200px;
}
nav ul li{
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
    margin-left: 100px;
}
.logo img{
    border: 0px;
    padding: 0px;
    display: flex;
    width: 80px;
    height: 80px;
}
.centro{
    background-color: black;
}
.centro img{
    text-align: center;
    border: 0px;
    padding: 0px;
    display: flex;
    width: 400px;
    height: 400px;
    margin-left: 450px;
}
.centro2 img{
    text-align: center;
    border: 0px;
    padding: 0px;
    display: flex;
    width: 1000px;
    height: 600px;
    margin-left: 150px;
}
.restaurante{
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border: 10px;
    font-size: x-large;
}
.restaurante img{
    border: 10px;
    padding: 10px;
    display: flex;
    margin-left: 600px;
}
.horarios{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border: 10px;
    font-size: x-large;
}
.horarios img{
    border: 10px;
    padding: 10px;
    display: flex;
    margin-left: 600px;
}
h1{
    color: aliceblue !important;
}
h6{
    color: black;
}
.empleado1 img{
    border: 5px;
    padding: 10px;
    display: flex;
}
.empleado1{
    text-align: right;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border: 10px;
    font-size: x-large;
    color: aliceblue;
}
.empleado2 img{
    border: 5px;
    padding: 10px;
    display: flex;
    width: 600px;
    height: 300px;
}
.empleado2{
    color: aliceblue;
    text-align: right;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border: 10px;
    font-size: x-large;
}
ul li {
    display: flex;
    list-style: none;
}
.card {
    margin: 10px;
}
.card img {
    width: 285px;
    height: 180px;
}
p {
    color: aliceblue;
}
.title {
    font-size:xx-large;
    text-align: center;
}
.listacarro {
    color: aliceblue;
    text-align: center;
}
.galeria {
    display: flex;
    width: 1000px;
    height: 330px;
    margin-left: 200px;
}
.galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: 5s ease;
}
.galeria img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.contactos{
    font-size: x-large;
}
footer{
    color: rgb(95, 221, 221);
}