body{
    background-color: rgb(13, 13, 14);
}
nav{
    clear: both;
    color: rgb(143, 138, 167);
    text-align: center;
    padding: 5px 0;
    display: flex;
}
nav ul{
    background-color: rgb(245, 54, 16);
    list-style: none;
    margin: 10px;
    padding: 0px;
    display: flex;
    width: 1200px;
}
nav ul li{
    color: rgb(148, 148, 235);
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
    margin-left: 100px;
}
.logo img{
    border: 0px;
    padding: 0px;
    display: flex;
    width: 80px;
    height: 80px;
}
.centro img{
    text-align: center;
    border: 0px;
    padding: 0px;
    display: flex;
    width: 400px;
    height: 200px;
    margin-left: 450px;
}
.centro2 img{
    text-align: center;
    border: 0px;
    padding: 0px;
    display: flex;
    width: 1000px;
    height: 600px;
    margin-left: 150px;
}
.restaurante{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border: 10px;
    font-size: x-large;
}
.restaurante img{
    border: 10px;
    padding: 10px;
    display: flex;
    margin-left: 600px;
}
.horarios{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border: 10px;
    font-size: x-large;
}
.horarios img{
    border: 10px;
    padding: 10px;
    display: flex;
    margin-left: 600px;
}
.empleado1 img{
    background-color: aliceblue;
    border: 5px;
    padding: 10px;
    display: flex;
}
.empleado1{
    text-align: right;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border: 10px;
    font-size: x-large;
}
.empleado2 img{
    background-color: aliceblue;
    border: 5px;
    padding: 10px;
    display: flex;
    width: 600px;
    height: 300px;
}
.empleado2{
    text-align: right;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    border: 10px;
    font-size: x-large;
}
.card {
    background-color: black;
}